<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>332958194819-ein0277hbhi48i4jvpek9qrckkg05d8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332958194819-ein0277hbhi48i4jvpek9qrckkg05d8m</string>
	<key>API_KEY</key>
	<string>AIzaSyD7gbQ8hpQteot1x7cnPMuxnwN8BC1XtC8</string>
	<key>GCM_SENDER_ID</key>
	<string>332958194819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainants.moviesearch</string>
	<key>PROJECT_ID</key>
	<string>movie-search-e6f1c</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-search-e6f1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332958194819:ios:450e2ad34536be0c</string>
	<key>DATABASE_URL</key>
	<string>https://movie-search-e6f1c.firebaseio.com</string>
</dict>
</plist>